*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* padding: 20px; */
  }


  {% comment %} .navbar{
    background-color: #ff523b;
  }
   {% endcomment %}
  h1 {
    text-align: center;
  }
  
  .gift-card {
    background-color: #f9f9f9;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .gift-card h2 {
    text-align: center;
    margin-top: 0;
  }
  
  .gift-card img {
    margin-left: 5%;
    max-width: 50%;
    margin-bottom: 10px;
  }
  
  .price {
    padding: 20px 40px;
    background-color: rgb(0, 38, 255);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 150px;
  }
  
  .addtocard {
    padding: 20px 40px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 560px;
  }
  
