/* header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
} */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* 
  .navbar{
    background-color: #ff523b;
  } */
  
  
  body {
    font-family: Arial, sans-serif;
    /* background-color: #f1f1f1; */
    margin: 0;
  }
  
  /* h1 {
    color: #333;
  } */
  /* 
  .order-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  } */


  /* a{
    position: relative;
    font-size: 30px;
    color: #333;
    font-weight: 600;
    text-decoration: none;
  }

  a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 6px;
    width: 0;
    background: #0d6efd;
    border-radius: 50px;
    transition: width 0.3s ease;
  }

  a:hover:before {
    width: 90%;
  } */


  

  .order-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .order-id {
    font-weight: bold;
  }
  
  .order-date {
    color:#ff523b;
  }
  
  .order-status {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .order-gift-card {
    margin-top: 10px;
  }
  
  .gift-card-title {
    font-weight: bold;
  }
  
  /* 
  .gift-card-image{
    max-width: 100px;
    height: auto;
    margin-top: 10px;
  } */


   /* a{
      position: relative;
      font-size: 30px;
      color: #333;
      font-weight: 600;
      text-decoration: none;
    }

    a:before {
      content: "";
      position: absolute;
      bottom: -2px;
      height: 6px;
      width: 0;
      background: #0d6efd;
      border-radius: 50px;
      transition: width 0.3s ease;
    }

    a:hover:before {
      width: 90%;
    } 
 */
 




  
  
  
  .aa{
  
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    text-decoration: none;
  }
   
   
  
 
  
  /* #ap:hover{
  
   background-color: #ff523b;
  
  
  } */
  
  