body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
   */
  /* main {
    padding: 2rem;
  } */

  
.navbar{
    background-color: #ff523b;
  }
  
  
  
  .order {
    /* border: 1px solid #ddd; */
    /* padding: 1rem; */
    margin-bottom: 1rem;
  }
  
  .order h3 {
    margin-top: 0;
  }
  
  .gift-card img {
    max-width: 100%;
    height: auto;
  }
  